@import url('https://fonts.googleapis.com/css?family=Lato|Saira+Semi+Condensed&display=swap');
html, body{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: 'Saira Semi Condensed', sans-serif;
    background-color: #f9f9f9;
    box-sizing: border-box;

}
/*títulos*/

header, h1, main h2{
    margin-bottom: 70px;

}

header, main, footer{
    text-align: center;
}

.donors{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr ;
}
.donor p{
    margin: 36px;
    
}
section.form{
    display:grid;
    grid-template-columns: 1fr 1fr ;
    grid-gap: 45px;
    background-color: #fa4a4a;
    align-items: center;
    padding:16px 54px;
    border-radius: 4px;;
}
.form h2{
    text-align: right;
    color: #ffffffee;
}
form input, form button{
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 4px;
    padding: 8px 16px;
    border-radius: 5px;
    border:1px #eee solid;
    background-color: #fff;
    font-family: 'Saira Semi Condensed', sans-serif;
}
form input{
    background-color: transparent;
   
}
main h2 span{
    color: #fa4a4a
}
form input::placeholder{
    color: #ddd;       
}

header, main, .form{
    margin: 0 auto 70px ; 
    width: 90%;
    max-width: 500px;
  
}
header>button{
    background-color: #fff;
    padding: 8px 16px;
    border:1px #ddd solid;
    font-family: 'Saira Semi Condensed', sans-serif;
    background-color: #fa4a4a;
    color: white;
    font-size: 15px;
    border-radius: 4px;
    margin-top:16px

}
.title{
    margin-top: 36px;
    font-size: 42px;
    margin-bottom: 64px;
    display:flex;
    align-items: center;
    justify-content: center;
    position: relative;
}


.title::before{
    content: "";
    background-color: #ff4f4f20;
    width: 100px;
    height: 100px;
    position: absolute;
    border-radius: 50%;
    border-top-right-radius: 0;
    transform: rotate(-35deg);

}
.blood{
    color: #fa4a4a;
    font-weight: bold;
    font-size:20px;
    display:flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.blood::before{
    content: "";
    background-color: #ff4f4f20;
    width: 40px;
    height: 40px;
    position: absolute;
    border-radius: 50%;
    border-top-right-radius: 0;
    transform: rotate(-35deg);

}
footer{
    margin-top: auto;
   padding-bottom: 16px;
   border-top: 1px solid #eee;
   margin-top: auto;
   padding-top: 10px;

}
section.form{
    transition: all 200ms;
}
section.form.hide{
    opacity: 0;
    visibility: hidden;
    height: 0;
    margin-top: -70px;
}

@media(max-width:700px){

	section.form{
        display:grid;
        grid-template-columns: 1fr;
        padding: 10px 10px;
      
    }
    .form h2{
        text-align: center;
        margin-bottom: 0;
    }
    form input, form button{
        width: 100%;

    }
}
